h1 {
    border: 2px #eee solid;
    color: rgb(1, 1, 2);
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 10px;
}

.form-group {
    text-align: center;
}

.text-xs-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}