h1 {
    border: 2px #eee solid;
    color: rgb(1, 1, 2);
    text-align: center;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size: 10px;
}

.form-group {
    text-align: center;
}

.text-xs-center {
    text-align: center;
}

.g-recaptcha {
    display: inline-block;
}

.titulo{
    margin-top: 2rem;
    border-bottom: 2px solid lightgrey;
    margin-bottom: 2rem;
}

.formulario{
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #007bff;
    border-radius: 0.5rem;
}

.mic-input{
    height: calc(1.5em + .75rem + 2px);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    outline: none;
    cursor: default;
}

.mic-btn{
    background-color: #e9ecef;
    height: calc(1.5em + .75rem + 2px);
    text-align: center;
    margin-left: -5rem;
    width: 5rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    border: solid 1px lightgrey;
}

::placeholder{
    color: #495057;
    font-weigh: 400;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    outline: none;
}

.mask{
    height: 100vh !important;
    width: 100vw !important;
    cursor: wait !important;
    z-index: 999 !important;
    position: absolute;
}